# General
HELP.md
target/
!.**/src/main/**/target/
!.**/src/test/**/target/

# Build Systems
.mvn/wrapper/maven-wrapper.jar
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs (STS, IntelliJ, VS Code, NetBeans)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

# Security and Environment Configs
# This ensures any .env variations are caught
.env
.env.*
secretKeys.env
*.pem
*.key